@import url("https://fonts.googleapis.com/css?family=Roboto");

:root{
    --bannerwidth: 0vw; 
}

.slider_title{
    border-left: 5px solid #e67832; 
    margin-top: 20px; 
    color: #e67832; 
    font-weight: bold;
    padding-left: 10px; 
    margin-left: 15px; 
}

#slider1, .moviebox {
    font-family: "Roboto", sans-serif;
}

#slider1 {
    border-radius: 1rem;
    max-width: 100%;
    overflow: hidden;
    z-index: 10;
    padding-top: 20px; 
    padding-bottom: 30px; 
}

.photobanner {
    display: flex;
    flex-direction: row;
    animation: bannermove 150s linear infinite;
}
  
@keyframes bannermove {
    0% {
      margin-left: 0;
    }
  
    100% {
      margin-left: calc(var(--bannerwidth) * -1);
    }
}

.sliderbox{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 20vw;
    border-radius: 1rem;
    margin-left: 1.5vw; 
    margin-right: 1.5vw; 
    transition: 0.3s;
    background-color: #e67832; 
    color: white; 
    text-decoration: none; 
}

.moviebox{
    border-top-left-radius: 3.5rem; 
    border-top-right-radius: 3.5rem; 
    width: 18vw;
    margin: 1vw; 
    transition: 0.45s;
    border: 1px solid #e67832; 
    background-color: #e67832; 
    color: white; 
    text-decoration: none; 
    text-align: center; 
    padding-bottom: 10px; 
}

.moviebox:hover{
    border: 1px solid #3cacce; 
    background-color: #3cacce; 
}

.sliderbox:hover {
    -webkit-filter: drop-shadow(4px 4px 5px gray);
    -moz-filter: drop-shadow(4px 4px 5px gray);
    -ms-filter: drop-shadow(4px 4px 5px gray);
    -o-filter: drop-shadow(4px 4px 5px gray);
    filter: drop-shadow(4px 4px 5px gray);
    transform: scale(1.05); 
}

.sliderimg {
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem; 
    width: calc(18vw - 2px); 
    object-fit: cover; 
}

.movieimg {
    border-top-left-radius: 3.5rem; 
    border-top-right-radius: 3.5rem; 
    width: calc(18vw - 2px); 
    object-fit: cover; 
}

.movieimg:hover{
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    -ms-filter: grayscale(75%);
    -o-filter: grayscale(75%);
    filter: grayscale(75%);
}

.caption{
    padding: 5px; 
    margin: 0;
    font-weight: bold; 
    font-size: 20px; 
    text-align: center;
}

.flex-parent{
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.star-rating{
    font-size: 15px;
}

.heart_btn{
    background: none; 
    border: none; 
    width: 20px; 
}

.heart_img{
    width: 20px; 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.heart_img:hover{
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%); 
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%); 
    filter: grayscale(0%); 
}