@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");

:root {
  --font-family-Montserrat: "Montserrat", sans-serif;
}

.poster {
  height: 500px;
  border-radius: 10px;
  margin: 5vh;
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.5);
}

.backdrop {
  position: relative;
}

.mbackground {
  position: absolute;
  opacity: 0.8;
  filter: brightness(0.5);
}

.mcontent {
  position: absolute;
  display: flex;
}

.mcright {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  font-family: var(--font-family-Montserrat);
  background-color: #06091880;
  border-radius: 10px;
  max-width: 70%;
  padding: 10px 20px;
}

.des-title {
  font-size: 40px;
  font-weight: 900;
}

.des-info {
  font-size: 32px;
  font-weight: 900;
}
.overview {
  font-size: 24px;
}

#releaseDate {
  font-size: 20px;
}

#rate {
  display: block;
  background-color: #061770;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  font-size: 24px;
}

.filmAndRate {
  display: flex;
  align-items: center;
}

#tagline {
  font-style: italic;
  color: #f0f8ff80;
  font-size: 16px;
  margin-top: 25px;
}

.des-genres {
  display: flex;
  max-width: 100%;
}

#genres {
  display: block;
  background-color: #06091880;
  border-radius: 10px;
  padding: 5px 5px;
  font-size: 15px;
}

.des-genres :not(:first-child) {
  margin-left: 10px;
}

.des-button {
  background-color: #06091880;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  font-family: var(--font-family-Montserrat);
  font-weight: 900;
  width: 10%;
}

.des-flex {
  display: flex;
  justify-content: center;
}
