.modal{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height:85%;
    width: 500px;
    position: fixed;
    top: 140px;
    bottom: 0;
    left: 73%;
    background-color: black;
    border: 5px solid orange;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

.overlay{
    width: 100%;
    height: 100%;
}

.movieItem{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    height: auto;
    margin:0px 10px;
    width:430px;
    position: relative;
    top: 320%;
    border-radius: 15px;
    left: -700px;
    

}    
.movieItem:hover{
        border: 6px solid rgb(250, 50, 0);
        scale: 1.1;
        transition: 1s;
        font-size: 25px;
        height: auto;
        z-index: 99;
        color: rgb(253, 255, 146);
        background-color: black;
    }
          h4{
font-size: 20px;
    }  

    .image{
        width: 150px;
        height: 200px;
    }

    .modelButton{
        position:fixed;
        bottom:-2px;
        width:80px; 
        height:40px;
        font-size: 23px;
        background-color: lightgreen;
    }

