.Navigation{
    background-color: transparent;
    font-size: 50px;
.Navbar{
    .NavbarBrand{
        font-size: 30px;
        padding: 9px 20px;
        border-radius: 10px;
        &:hover{
            color: white;
            background-color: rgba(0, 136, 169, 0.8);
           transition: all 0.3s ease 0s;   
        }
    }
    .ml-auto{

        .NavItemGroup{
            display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;

    .NavItem{
        font-size: 40px;
        .popular{
            cursor: pointer;
            position: relative;
            right: 200px;
            top: 3px;
            width: 120px;
padding: 9px 20px;
border-radius: 10px;
&:hover{
color: white;
background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;
}
        }
        .topRated{
            cursor: pointer;
            position: relative;
            right: 120px;
            top: 3px;
            width: 150px;
padding: 9px 10px;
border-radius: 10px;
&:hover{
 color: white;
 background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;   
}
        }
    }
}
    .item{
        
        &:hover{
            color: white;
        font-style: initial;
        background-color: red;
    }

}}
.movieItem{
    
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    height: auto;
    margin:0px 10px;
    width:430px;
    position: relative;
    top: 50px;
    border-radius: 15px;
    &:hover{
        border: 6px solid rgb(250, 50, 0);
        scale: 1.1;
        transition: 1s;
        font-size: 25px;
        height: auto;
        z-index: 99;
        color: rgb(253, 255, 146);
        background-color: rgb(211, 83, 83);
    }
          h4{
font-size: 20px;
    }  
}
.categoryGroup{
    position: relative;
    left: 200px; 
.category{
    font-size: 25px;
    padding: 9px 10px;
border-radius: 30px;
    &:hover{
        color: white;
        background-color: rgba(0, 136, 169, 0.8);
       transition: all 0.3s ease 0s;   
    }
}}
.input {
    position: relative;
    left: -70px;
    width: 550px;
    height: 50px;
    font-size: 25px;
    padding-right: 85px;
}
i{
    font-size: 20px;
    position: relative;
    right: 150px;
    color: black;
}
}
}
.numbers{
    span{
        
        &:hover{
            transition: 0.5s;
            font-size: 35px;
            color: black;
            cursor: pointer;
        }
    }
}

@media (max-width: 1000px) {
    .Navigation{
          background-color: red;
          .Navbar{
            .NavbarBrand{
                position: relative;
                top:5px;
                font-size: 18px;
            }
        .ml-auto{
            .NavItemGroup{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        position: relative;
        left: 130px;
        .NavItem{
            font-size: 25px;
            .popular{
                cursor: pointer;
                position: relative;
                right: 150px;
                top: 3px;
                padding: 9px 5px;
                border-radius: 30px;
                width: 100px;
            }
            .topRated{
                cursor: pointer;
                position: relative;
                right: 170px;
                top: 3px;
                padding: 9px 5px;
                border-radius: 30px;
                width:100px;
            }
        }
    }
        
        .item{
            color: red;
            &:hover{
                color: white;
            font-style: initial;
            background-color: red;
        }
        
    }}
    .movieItem{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:flex-start;
        height: auto;
        margin:0px 10px;
        width:430px;
        position: relative;
        top: 50px;
        border-radius: 15px;
        &:hover{
            border: 6px solid rgb(250, 50, 0);
            scale: 1.1;
            transition: 1s;
            font-size: 25px;
            height: auto;
            z-index: 99;
            color: rgb(253, 255, 146);
            background-color: black;
        }
              h4{
    font-size: 20px;
        }  
    }
    .categoryGroup{
        position: relative;
 top: 0px ;
 left: 0px;
    .category{
        font-size: 25px;
        padding: 9px 10px;
        border-radius: 30px;
        &:hover{
            transition: 0.5s;
            color: #0088a9;
        }
    }
}
    .input {
        color: lightgreen;
        width: 350px;
        position: relative;
        left: -150px;
    }
    i{
        font-size: 20px;
        position: relative;
        right: 225px;
        color: black;
    }
}}
.numbers{
    span{
        
        &:hover{
            transition: 0.5s;
font-size: 35px;
            color: black;
            cursor: pointer;
        }
    }
}

}

@media (max-width: 750px) {
    .Navigation{
          background-color: green;
          height: 140px;
          .Navbar{
            .NavbarBrand{
                position: relative;
                top:5px;
                font-size: 18px;
            }
        .ml-auto{
            .NavItemGroup{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        position: relative;
        left: 130px;
        .NavItem{
            font-size: 25px;
            .popular{
                cursor: pointer;
                position: relative;
                right: 145px;
                top: 0px;
                width: 80px;
                padding: 9px 10px;
                border-radius: 30px;
            }
            .topRated{
                cursor: pointer;
                position: relative;
                right: 225px;
                top: 35px;
                width:100px;
                padding: 10px 10px;
                border-radius: 30px;
            }
        }
    }
        
        .item{
            color: red;
            &:hover{
                color: white;
            font-style: initial;
            background-color: red;
        }
        
    }}
    .movieItem{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:flex-start;
        height: auto;
        margin:0px 10px;
        width:430px;
        position: relative;
        top: 50px;
        border-radius: 15px;
        &:hover{
            border: 6px solid rgb(250, 50, 0);
            scale: 1.1;
            transition: 1s;
            font-size: 25px;
            height: auto;
            z-index: 99;
            color: rgb(253, 255, 146);
            background-color: black;
        }
              h4{
    font-size: 20px;
        }  
    }
    .categoryGroup{
        position: relative;
 top: -50px ;
 left: 270px;
    .category{
        font-size: 25px;
        padding: 9px 10px;
        border-radius: 30px;
            &:hover{
                color: white;
                background-color: rgba(0, 136, 169, 0.8);
               transition: all 0.3s ease 0s;   
            }
    }
}
    .input {
        color: lightgreen;
        width: 350px;
        position: relative;
        left: -150px;
    }
}}
.numbers{
    span{
        
        &:hover{
            transition: 0.5s;
font-size: 35px;
            color: black;
            cursor: pointer;
        }
    }
}

}