.Navigation{
    background-color: black;
    font-size: 50px;
    top: -0px;
    position: fixed;
width: 100%;
.Navbar{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position:relative;
    top: 10px;
    .NavbarBrand{
        font-size: 25px;
        padding: 0;
        border-radius: 10px;
        position: relative;
        bottom: 33px;
        font-family: Helvetica;
        margin: 0;
        color: gray;
        letter-spacing: -0.3rem;
        left: 10px;
        &::after{
            content: attr(data-spotlight);
            color: yellow;
            position: absolute;
            top:-6.5px;
            left: 0;
            -webkit-clip-path: ellipse(100px 100px at 0% 50%);
            clip-path: ellipse(100px 100px at 0% 50%);
            animation: spotlight 5s infinite;

            }
            
    }
    @keyframes spotlight{
        0%{
        -webkit-clip-path: ellipse(50px 50px at 50% 0%);
        clip-path: ellipse(28px 28px at 0% 50%);
        }
        
        50%{
        -webkit-clip-path: ellipse(100px 100px at 100% 100%);
        clip-path: ellipse(28px 28px at 100% 50%);
        }
        
        100%{
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(28px 28px at 0% 50%);
        }
        }
    .ml-auto{

        .NavItemGroup{
            display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;

    .NavItem{
        font-size: 40px;
        
        .popular{
            cursor: pointer;
            position: relative;
            right: 150px;
            color: yellow;
            width: 120px;
padding: 9px 10px;
border-radius: 10px;
top: 4px;
&:hover{
color: white;
background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;
}
        }
        .topRated{
            cursor: pointer;
            position: relative;
            right: 120px;
            color: yellow;
            width: 150px;
            top: 5px;
padding: 9px 10px;
border-radius: 10px;
&:hover{
 color: white;
 background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;   
}
        }
        .open{
            position: relative;
            top: 10px;
            margin-left:  -50px;
            font-size: 23px;
            width: 120px;
            padding: 0px 10px;
            border-radius: 10px;
            height: 40px;
            color: yellow;
            &:hover{
                color: white;
                background-color: rgba(0, 136, 169, 0.8);
               transition: all 0.3s ease 0s;   
               }
        }
    }
}
    .item{
        
        &:hover{
            color: white;
        font-style: initial;
        background-color: red;
    }

}}
.categoryGroup{
    position: relative;
    left: 100px; 
    bottom: 35px;
    
.category{
    font-size: 25px;
    padding: 9px 20px;
border-radius: 10px;

position: relative;
bottom: 0px;
color: yellow;
    &:hover{
        color: white;
        background-color: rgba(0, 136, 169, 0.8);
       transition: all 0.3s ease 0s;   
       
    }
}}
.input {
    position: relative;
    left: -70px;
    width: 550px;
    height: 50px;
    font-size: 25px;
    padding-right: 85px;

}
i{
    font-size: 20px;
    position: relative;
    right: 150px;
    color: black;
}
}
}
.numbers{
    span{
        
        &:hover{
            transition: 0.5s;
            font-size: 35px;
            color: black;
            cursor: pointer;
        }
    }
}


@media (max-width: 1450px) {
.Navigation{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: black;
height: 200px;
    .Navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 80px;

        .ml-auto{
            display: flex;
            justify-content: center;
            align-items: center;
            .NavItemGroup{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 100px;

                left: 400px;
                        .NavbarBrand{
            position: relative;
            bottom: 00px;
            left: -140px;
            font-size: 25px;
            color: yellow;
            padding: 9px 20px;
            &:hover{
                color: white;
                background-color: rgba(0, 136, 169, 0.8);
                transition: all 0.3s ease 0s;
                }
        }
        .popular{
            cursor: pointer;
            position: relative;
            left: -120px;
            top: 3px;
            width: 120px;
            font-size: 25px;
padding: 9px 20px;
border-radius: 10px;
color: black;
&:hover{
color: white;
background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;
}
        }
        .topRated{
            cursor: pointer;
            position: relative;
            right: 20px;
            bottom: 100px;
            width: 150px;
            font-size: 25px;
padding: 9px 10px;
border-radius: 10px;
color: black;
&:hover{
 color: white;
 background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;   
}
        }
            }
            .input{
                position: relative;
                bottom: 100px;
                width: 300px;
                left: 300px;
            }
            .Search{
                position: relative;
                bottom: 100px;
                width: 300px;
                left: 220px;
            }
            .categoryGroup{
                position: relative;
                bottom: 100px;
                width: 300px;
                left: 80px;
                color: yellow;
                padding: 9px 10px;
                border-radius: 10px;
                .category{
                    cursor: pointer;
                    position: relative;
                    width: 120px;
                    font-size: 25px;
        padding: 9px 20px;
        border-radius: 10px;
        color: yellow;
        &:hover{
        color: white;
        background-color: rgba(0, 136, 169, 0.8);
        transition: all 0.3s ease 0s;
        }
                }
            }
        }
    }    
}
.showMovie{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: "center";
        height: auto;
        width: 100px;
        position:absolute;
        left:100%;
        bottom: -520px;
margin-top: 10px;
    .movieItem{        
display:flex;
flex-direction: column;
justify-content:flex-start;
align-items:center;
height: auto;
margin:0px 5px;

position: relative;
top: -115px;
border-radius: 15px;
background-color: black;
.image{
    width: 200px;
    height: 220px;
}
h4{
    font-size: 15px;
    text-align: center;
}
    }
    }
    .numbers{
        position: relative;
        top: 120px;
        right:-90px;
        font-size: 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}
@media (max-width: 1000px) {
.Navigation{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: black;
height: 180px;
    .Navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100px;

        .ml-auto{
            display: flex;
            justify-content: center;
            align-items: center;
            .NavItemGroup{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                bottom: 100px;

                left: 00px;
                        .NavbarBrand{
            position: relative;
            top: 10px;
            left: -208px;
            font-size: 20px;
            color: yellow;
            padding: 9px 20px;

            &:hover{
                color: white;
                background-color: rgba(0, 136, 169, 0.8);
                transition: all 0.3s ease 0s;
                }
        }
        .popular{
            cursor: pointer;
            position: relative;
            left: -180px;
            top: 3px;
            width: 120px;
            font-size: 20px;
padding: 9px 20px;
border-radius: 10px;
color: black;
&:hover{
color: white;
background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;
}
        }
        .topRated{
            cursor: pointer;
            position: relative;
            left: -190px;
            top: 3px;
            width: 150px;
            font-size: 20px;
padding: 9px 10px;
border-radius: 10px;
color: black;
&:hover{
 color: white;
 background-color: rgba(0, 136, 169, 0.8);
transition: all 0.3s ease 0s;   
}
        }
            }

            .input{
                position: relative;
                bottom: 200px;
                width: 350px;
                left: 200px;
            }
            .Search{
                position: relative;
                bottom: 200px;
                width: 300px;
                left: 120px;
            }
            .categoryGroup{
                position: absolute;
                top: -250px;
                width: 300px;
                left: 215px;
                color: yellow;
                
                .category{
                    cursor: pointer;
                    position: relative;
                    font-size: 20px;
        padding: 9px 15px;
        border-radius: 10px;
        color: yellow;
        &:hover{
        color: white;
        background-color: rgba(0, 136, 169, 0.8);
        transition: all 0.3s ease 0s;
        }
                }
            }
        }
    }


}
    .showMovie{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: "center";
        height: auto;
        width: 400px;
        position:absolute;
        left:800px;
        bottom: -450px;
            .movieItem{        
display:flex;
flex-direction: column;
justify-content:flex-start;
align-items:center;
height: auto;
margin:0px 5px;
position: relative;
top: -60px;
background-color: black;
border-radius: 15px;
h4{
    font-size: 15px;
    text-align: center;
}        .image{
            width: 135px;
            height: 160px;
        }
    }
    }
    .numbers{
        position: relative;
        bottom: 80px;
        right:-40px;
        font-size: 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: auto;

    }
}